target/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.log
application-local.yml
.DS_Store
Thumbs.db

# 前端
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
.eslintcache

# 本地环境
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
